<!DOCTYPE html>
<html>

<head>

    <title>Bus Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="navbar">

    <a href="/">Home</a>
    <a href="/history">Attendance</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/recommendation">Recommendation</a>

</div>

<div class="container">

    <h1>Bus Dashboard</h1>

    <div class="search-box">

        <form method="POST">

            <input
                type="text"
                name="bus_number"
                placeholder="Enter Bus Number"
                required>

            <button type="submit">

                Search

            </button>

        </form>

    </div>

    {% if strength is not none %}

    <div class="dashboard-grid">

        <div class="card">

            <h3> Bus Number</h3>

            <p>{{ bus_number }}</p>

        </div>

        <div class="card">

            <h3> Today's Strength</h3>

            <p>{{ strength }} Students</p>

        </div>

    </div>

    {% endif %}

</div>

</body>

</html>

