<!DOCTYPE html>
<html>
<head>
    <title>Bus Dashboard</title>
</head>
<body>

    <h1>Smart Bus Sync Dashboard</h1>
    <h2>Today's Bus Strength Report</h2>
    <table border="1">
        <tr>
            <th>Bus Number</th>
            <th>Students Present</th>
            <th>Calculation Date</th>
        </tr>

        {% for row in dashboard %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>
