<!DOCTYPE html>
<html>
<head>
    <title>Status History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Student Status History</h1>

<table border="1">
    <tr>
        <th>Student ID</th>
        <th>Status</th>
        <th>Date</th>
    </tr>

    {% for row in history %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
    </tr>
    {% endfor %}

</table>
<nav>
    <a href="/">Home</a>
    <a href="/history">History</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/recommendation">Recommendation</a>
</nav>

<br>
</body>
</html>
