<!DOCTYPE html>
<html>
<head>
    <title>Bus Attendance History</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/history">Attendance</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/recommendation">Recommendation</a>
</div>

<div class="container">
    <h1>Bus Attendance History</h1>
    <div class="search-box">
        <form method="POST">
            <input
                type="text"
                name="bus_number"
                placeholder="Enter Bus Number"
                required>
            <button type="submit">
                Search
            </button>
        </form>
    </div>
    <table>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>College</th>
            <th>Department</th>
            <th>Year</th>
            <th>Bus Number</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
        {% for row in history %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>

            {% if row[6] == 'Present' %}

            <span class="success">Present</span>
 
            {% elif row[6] == 'Absent' %}

            <span class="danger">Absent</span>

            {% elif row[6] == 'Study Leave' %}

            <span class= "warning">Study Leave</span>

            {% else %}

            <span class="warning">Semester Leave</span> 

            {% endif %}

            </td>
            <td>{{ row[7] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
