<!DOCTYPE html>

<html>

<head>
    <title>Smart Bus Sync</title>

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>


<div class="navbar">

    <a href="/">Home</a>
    <a href="/history">Attendance</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/recommendation">Recommendation</a>

</div>

<div class="container">

    <h1>Smart Bus Sync System</h1>

    <div class="search-box">

        <form method="POST">

            <input
                type="text"
                name="student_id"
                placeholder="Enter Student ID"
                required>

            <button
                type="submit"
                name="action"
                value="search">

                Search

            </button>

        </form>

    </div>

    {% if student %}

    <div class="card">

        <h3>Student Details</h3>

        <p><strong>ID Number :</strong> {{ student[0] }}</p>

        <p><strong>Name :</strong> {{ student[1] }}</p>

        <p><strong>College :</strong> {{ student[2] }}</p>

        <p><strong>Department :</strong> {{ student[3] }}</p>

        <p><strong>Year :</strong> {{ student[4] }}</p>

        <p><strong>Bus Number :</strong> {{ student[5] }}</p>

        <p><strong>Stop :</strong> {{ student[6] }}</p>

        <br>

<form method="POST">

    <input
        type="hidden"
        name="student_id"
        value="{{ student[0] }}">

    <button
        type="submit"
        name="action"
        value="save"
        onclick="document.getElementById('status').value='Present'">

         Present

    </button>

    <button
        type="submit"
        name="action"
        value="save"
        onclick="document.getElementById('status').value='Absent'">

         Absent

    </button>

    <button
        type="submit"
        name="action"
        value="save"
        onclick="document.getElementById('status').value='Study Leave'">

         Study Leave

    </button>

    <button
        type="submit"
        name="action"
        value="save"
        onclick="document.getElementById('status').value='Semester Leave'">

         Semester Leave

    </button>

    <input
        type="hidden"
        id="status"
        name="status">

</form>

    </div>

    {% endif %}

    {% if message %}

    <div class="card">

        <p class="success">

            {{ message }}

        </p>

    </div>

    {% endif %}

</div>
</body>
</html>
